<form (ngSubmit)="submitBooking()" #bookingForm="ngForm" class="booking-form">
  <div class="form-group">
    <label>
      Name:
      <input type="text" [(ngModel)]="booking.name" name="customerName" required>
      <div class="error" *ngIf="bookingForm && bookingForm.controls['customerName'].invalid && (bookingForm.controls['customerName'].dirty || bookingForm.controls['customerName'].touched)">
        <div *ngIf="bookingForm.controls['customerName'].errors?.['required']">
           name is required.
        </div>
      </div>
    </label>
  </div>
  <div class="form-group">
    <label>
      Email:
      <input type="email" [(ngModel)]="booking.email" name="email" required email>
      <div class="error" *ngIf="bookingForm && bookingForm.controls['email'].invalid && (bookingForm.controls['email'].dirty || bookingForm.controls['email'].touched)">
        <div *ngIf="bookingForm.controls['email'].errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="bookingForm.controls['email'].errors?.['email']">
          Invalid email address.
        </div>
      </div>
    </label>
  </div>
  <div class="form-group">
    <label>
      Phone:
      <input type="tel" [(ngModel)]="booking.phone" name="phone" required>
      <div class="error" *ngIf="bookingForm && bookingForm.controls['phone'].invalid && (bookingForm.controls['phone'].dirty || bookingForm.controls['phone'].touched)">
        <div *ngIf="bookingForm.controls['phone'].errors?.['required']">
          Phone number is required.
        </div>
      </div>
    </label>
  </div>
  <div class="form-group">
    <label>
      Check-in Date:
      <input type="date" [(ngModel)]="booking.checkin" name="checkInDate" required>
      <div class="error" *ngIf="bookingForm && bookingForm.controls['checkInDate'].invalid && (bookingForm.controls['checkInDate'].dirty || bookingForm.controls['checkInDate'].touched)">
        <div *ngIf="bookingForm.controls['checkInDate'].errors?.['required']">
          Check-in date is required.
        </div>
      </div>
    </label>
  </div>
  <div class="form-group">
    <label>
      Check-out Date:
      <input type="date" [(ngModel)]="booking.checkout" name="checkOutDate" required>
      <div class="error" *ngIf="bookingForm && bookingForm.controls['checkOutDate'].invalid && (bookingForm.controls['checkOutDate'].dirty || bookingForm.controls['checkOutDate'].touched)">
        <div *ngIf="bookingForm.controls['checkOutDate'].errors?.['required']">
          Check-out date is required.
        </div>
      </div>
    </label>
  </div>
  <button type="submit" [disabled]="!(bookingForm && bookingForm.form.valid)">Book Now</button>
</form>
