
<div class="container">
    <h1>Find your Next Stay</h1>
    <div class="searchbar">
      <form >
        <div class="location-input">
          <label>Location</label>
          <input type="text" placeholder="Where are you going?">
        </div>
        <div>
          <label>Check in</label>
          <input type="text" placeholder="Add Date">
        </div>
        <div>
          <label>Check out</label>
          <input type="text" placeholder="Add Date">
        </div>
        <div>
          <label>Guests</label>
          <input type="text" placeholder="Add Guest ">
        </div>
        <button type="submit"><img src="https://cdn-icons-png.flaticon.com/128/5636/5636698.png" alt="search"></button>
      </form>
    </div>

  </div>

  <div class="container">
    <h2 class="sub-title">Exclusives</h2>

    <div class="exclusives">
    <div>
      <img src="https://cdn.pixabay.com/photo/2012/04/26/22/48/machu-picchu-43387_640.jpg" alt="exclusives">
      <span>
        <h3>Germany</h3>
        <p>$250</p>
      </span>
    </div>
    <div>
      <img src="https://cdn.pixabay.com/photo/2021/08/08/20/37/mountains-6531903_640.jpg" alt="exclusives">
      <span>
        <h3>Peru</h3>
        <p>$250</p>
      </span>
    </div>
    <div>
      <img src="https://cdn.pixabay.com/photo/2015/03/31/23/08/neuschwanstein-701732_640.jpg" alt="exclusives">
      <span>
        <h3>England</h3>
        <p>$250</p>
      </span>
    </div>
    <div >
      <img src="https://cdn.pixabay.com/photo/2017/10/28/07/47/woman-2896389_640.jpg" alt="exclusives">
      <span>
        <h3>Scotland</h3>
        <p>$250</p>
      </span>
    </div>
    <div>
      <img src="https://cdn.pixabay.com/photo/2020/11/01/14/38/sea-5703965_640.jpg" alt="exclusives">
      <span>
        <h3>Indonesia</h3>
        <p>$250</p>
      </span>
    </div>
    <div>
      <img src="https://cdn.tourradar.com/s3/tour/360x210/5344_71cde0.jpg" alt="exclusives">
      <span>
        <h3>Amazon to the Andes</h3>
        <p>$2500</p>
      </span>
    </div>
    <div>
      <img src=" https://cdn.tourradar.com/s3/tour/360x210/138441_02ac4d7c.jpg" alt="exclusives">
      <span>
        <h3>Cusco, Sacred Valley</h3>
        <p>$2500</p>
      </span>
    </div>
   
  </div>

  </div>
