<script src="https://kit.fontawesome.com/c425e24a8.js" crossorigin="anonymous"></script>
<div class="container">
    <h1>Find your Next Stay</h1>
    <div class="searchbar">
      <form >
        <div class="location-input">
          <label>Location</label>
          <input type="text" placeholder="Where are you going?">
        </div>
        <div>
          <label>Check in</label>
          <input type="text" placeholder="Add Date">
        </div>
        <div>
          <label>Check out</label>
          <input type="text" placeholder="Add Date">
        </div>
        <div>
          <label>Guests</label>
          <input type="text" placeholder="Add Guest ">
        </div>
        <button type="submit"><img src="https://cdn-icons-png.flaticon.com/128/5636/5636698.png" alt="search"></button>
      </form>
    </div>

  </div>

  <div class="container">
    <h2 class="sub-title">Exclusives</h2>

    <div class="exclusives">
    <div>
      <img src="https://cdn.pixabay.com/photo/2012/04/26/22/48/machu-picchu-43387_640.jpg" alt="exclusives">
      <span>
        <h3>Germany</h3>
        <p>$250</p>
      </span>
    </div>
    <div>
      <img src="https://cdn.pixabay.com/photo/2021/08/08/20/37/mountains-6531903_640.jpg" alt="exclusives">
      <span>
        <h3>Peru</h3>
        <p>$250</p>
      </span>
    </div>
    <div>
      <img src="https://cdn.pixabay.com/photo/2015/03/31/23/08/neuschwanstein-701732_640.jpg" alt="exclusives">
      <span>
        <h3>England</h3>
        <p>$250</p>
      </span>
    </div>
    <div >
      <img src="https://cdn.pixabay.com/photo/2017/10/28/07/47/woman-2896389_640.jpg" alt="exclusives">
      <span>
        <h3>Scotland</h3>
        <p>$250</p>
      </span>
    </div>
    <div>
      <img src="https://cdn.pixabay.com/photo/2020/11/01/14/38/sea-5703965_640.jpg" alt="exclusives">
      <span>
        <h3>Indonesia</h3>
        <p>$250</p>
      </span>
    </div>
    <div>
      <img src="https://cdn.tourradar.com/s3/tour/360x210/5344_71cde0.jpg" alt="exclusives">
      <span>
        <h3>Amazon to the Andes</h3>
        <p>$2500</p>
      </span>
    </div>
    <div>
      <img src=" https://cdn.tourradar.com/s3/tour/360x210/138441_02ac4d7c.jpg" alt="exclusives">
      <span>
        <h3>Cusco, Sacred Valley</h3>
        <p>$2500</p>
      </span>
    </div>
   
  </div>

  <h2 class="sub-title">Trending Places</h2>

  <div class="trending">
    <div>
      <img src="https://www.visitdubai.com/-/media/gathercontent/article/s/spend-24-hours-in-downtown-dubai/burj-khalifa-dtcm-2022.jpg?rev=2c0e6aba6f7047dcb38e8e4ae06346b0&cx=0.5&cy=0.48&cw=1556&ch=690" alt="Dubai">
      <h3>Dubai</h3>
    </div>
    <div>
      <img src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-674x446/0d/0d/9a/a1.jpg" alt="New York">
      <h3>New York</h3>
    </div>
    <div>
      <img src="https://hblimg.mmtcdn.com/content/hubble/img/schengenvideoimg/mmt/activities/m_Paris_10_l_660_1000.jpg" alt="Paris">
      <h3>Paris</h3>
    </div>
    <div>
      <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-s/02/6f/9d/97/filename-akshardham00f.jpg?w=600&h=-1&s=1" alt="New Delhi">
      <h3>New Delhi</h3>
    </div>
  </div>

  <div class="cta">
    <h3>Sharing <br>is Earning Now</h3>
    <p>Great opportunity to make more money by sharing your extra space.</p>
    <a href="#" class="cta-btn">Know More</a>
  </div>
  
  <h2 class="sub-title">Travellers Stories</h2>
  <div class="stories">
    <div>
      <img src="https://media1.thrillophilia.com/filestore/pysb7za3jej7bi4hepoicw77loxp_dl.beatsnoop.com-high-9c47803d11755f98ee.jpg?w=580&dpr=2" alt="stories">
    <p>Popular  European countries with a budget of just $10,000</p>
    </div>
    <div>
      <img src="https://media1.thrillophilia.com/filestore/qkd9p78xy93cu2j4xywhtyofmxh0_shutterstock_111244400.jpg?w=580&dpr=2" alt="stories">
      <p>Traveled more than 100 countries in less than a year</p>
    </div>
    <div>
      <img src="https://www.holidify.com/images/bgImages/BANGKOK.jpg" alt="stories">
    <p>Best experience you get while travelling to thailand</p>
    </div>
  </div>
  <a href="#" class="start-btn">Start making money</a>

  <div class="about-boooking">
    <h2>About Booking</h2>
    <p>Booking.com is a comprehensive online travel platform that allows users to search for and book a variety of travel services. These services include hotels, and tours. The site also offers deals, promotions, and a wide selection of properties in popular destinations worldwide. For personalized offers and discounts, users can sign in to their Booking.com accounts. Additionally, the platform features verified reviews from real guests to help users make informed decisions</p>
  </div>

  <div class="footer">
    <a href="https://facebook.com/"><i class="fa-brands fa-facebook"></i></a>
  </div>

  </div>
