<div class="app-container">
    <header>
      <!-- Include the header component here if it's a separate component -->
      <app-header></app-header>
    </header>
  
    <main class="main-content">
      <div class="home-section">
        <app-home></app-home>
      </div>
  
      <div class="booking-section">
        <app-booking></app-booking>
      </div>
  
      <div class="hotels-section">
        <app-hotels></app-hotels>
      </div>
  
      <div class="tours-section">
        <app-tours></app-tours>
      </div>
  
      <div class="contactus-section">
        <app-contactus></app-contactus>
      </div>
  
      <div class="aboutus-section">
        <app-aboutus></app-aboutus>
      </div>
    </main>
  
    <footer class="footer">
      <!-- Include the footer component here if it's a separate component -->
      <app-footer>
        
      </app-footer>
    </footer>
  </div>
  