.header {
    background-color: #8f3131;
    color: black;
    padding: 10px 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    display: inline-block;
    margin-left: 10px;
  }
  
  .nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .nav-item a:hover {
    text-decoration: underline;
  }
  